#recipe-heading
{
    color: white; background: brown;
    text-align: center;
    font: bolder;

}

.heading
{
    font: bold;
    font-size: 30px;
    color: wheat;
    background-color: green;
    
}

.sub-heading
{
    font-size: 25px;
    font-style: italic;
}

#desc-para
{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.ingredients
{
    font-size: 18px;
}