h1
{
    color: white; background: brown;
    text-align: center;
    font: bolder;
    margin: 3px;
    padding: 2px;
}

img
{
    margin: 25px;
}

h2, h3, h4
{
    font-size: 30px;
    color: wheat;
    background-color: green;
    margin: 30px 20px;
}

.sub-heading
{
    font-size: 24px;
    font-style: italic;
    margin: 25px;
}

#desc-para
{
    text-align: center;
    font-size: large;
    margin: 30px;
}

ul, ol
{
    font-size: 18px;
}